<div ng-controller="recordsCtrl">
  <container margin-top="150">
    <two-columns>
      <h4>Semana:</h4>
    </two-columns>
    <four-columns>
      <select ng-model="selected.week" ng-change="getPlannedActivities()" ng-options="week.range for week in weeks" class="u-full-width"></select>
    </four-columns>
    <twelve-columns>
      <h5>Horas por cumplir en la semana: {{user.hrs_to_complete}} hrs</h5>
      Acumulado: {{totalHoursRecorded | number:2 }} hrs
      <progress class="record-planned-hours" value="{{totalHoursRecorded}}" max="{{user.hrs_to_complete}}"></progress>
    </twelve-columns>
  </container>
  <container margin-top="25">
    <three-columns>
      <a id="planned" ng-click="showActivities('planned')" class="selected activity-panel">Actividades Planeadas</a>
    </three-columns>
    <four-columns>
      <a id="extras" ng-click="showActivities('extras')" class="activity-panel">Actividades Institucionales y extras</a>
    </four-columns>
    <twelve-columns ng-show="showPlanned">
      <div style="overflow-x: scroll">
        <table class="u-full-width">
          <tr>
            <th>Proyecto</th>
            <th>Nombre</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Registro Horas</th>
            <th>Registro Minutos</th>
            <th>Comentarios</th>
            <th>Status</th>
            <th>&nbsp;</th>
          </tr>
          <tr ng-repeat="A in activities track by $index">
            <td><p class="activity-field-long">{{A.project_name}}</p></td>
            <td><p class="activity-field-long">{{A.activity_name}}</p></td>
            <td><p class="activity-field-short">{{A.begin_date}}</p></td>
            <td><p class="activity-field-short">{{A.end_date}}</p></td>
            <td><input ng-model="A.hrs_reported" class="activity-hrs-input" type="number" min="0" value="0"></td>
            <td><input ng-model="A.minutes_reported" class="activity-hrs-input" type="number" min="0" value="0"></td>
            <td><input ng-model="A.comments" class="activity-field-short" type="text"></td>
            <td><select ng-model="A.status" class="activity-field-short">
              <option>Iniciado</option>
              <option>Cancelado</option>
              <option>Terminado</option>
            </td>
            <td style="padding-left:10px"><button ng-click="saveRecord($index)" class="button-add activity-field-short" type="button">Guardar</button></td>
          </tr>
        </table>
      </div>
    </twelve-columns>
    <!-- ACTIVITIES EXTRAS -->
    <three-columns offset="nine" ng-show="showExtras">
      <button ng-click="open_extraActivityTemplate()" class="button-add u-full-width" type="button">Nueva actividad</button>
    </three-columns>
    <twelve-columns ng-show="showExtras">
      <div style="overflow-x: scroll">
        <table class="u-full-width">
          <tr>
            <th>Proyecto</th>
            <th>Nombre</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Registro Horas</th>
            <th>Registro Minutos</th>
            <th>Comentarios</th>
            <th>&nbsp;</th>
          </tr>
          <tr ng-repeat="AE in activities_extra track by $index">
            <td><p class="activity-field-long">{{AE.project_name}}</p></td>
            <td><p class="activity-field-long">{{AE.activity_name}}</p></td>
            <td><p class="activity-field-short">{{AE.begin_date}}</p></td>
            <td><p class="activity-field-short">{{AE.end_date}}</p></td>
            <td><input ng-model="AE.hrs_reported" class="activity-hrs-input" type="number" min="0" value="0"></td>
            <td><input ng-model="AE.minutes_reported" class="activity-hrs-input" type="number" min="0" value="0"></td>
            <td><input ng-model="AE.comments" class="activity-field-short" type="text"></td>
            <td style="padding-left:10px"><button ng-click="saveExtraActivityRecord($index)" class="button-add activity-field-short" type="button">Guardar</button></td>
            <td style="padding-left:10px"><button ng-click="open_updateExtraActivity(AE)" class="button-add activity-field-short" type="button">Editar</button></td>
          </tr>
        </table>
      </div>
    </twelve-columns>
  </container>
</div>
