<div class="modal-title">Editar Actividad</div>
<label>Proyecto:</label>
<p>{{editable_extraActivity.project_name}}</p>
<label style="color:red" ng-show="emptyName">Falta escribir un nombre</label>
<label>Nombre:</label>
<input ng-model="editable_extraActivity.activity_name" class="u-full-width" type="text" placeholder="Nombre">
<label>Comentarios:</label>
<textarea ng-model="editable_extraActivity.comments" class="u-full-width" rows="5" style="resize: none"></textarea>
<label style="color:red" ng-show="emptyBeginDate">No se ingreso una fecha válida de inicio</label>
<label style="color:red" ng-show="emptyEndDate">No se ingreso una fecha válida de fin</label>
<div class="picker-container">
  <input ng-model="editable_extraActivity.begin_date" ng-click="switchDatePicker('editable_extraActivity','begin')" class="picker-input" type="text">
  <date-picker ng-model="editable_extraActivity.begin_date" ng-show="editable_extraActivity_beginDate" ng-change="switchDatePicker('editable_extraActivity','begin')" class="custom-datepicker"  format-date="formatDate" parse-date="parseDate"></date-picker>
</div>
<div class="picker-container">
  <input ng-model="editable_extraActivity.end_date" ng-click="switchDatePicker('editable_extraActivity','end')" class="picker-input" type="text">
  <date-picker ng-model="editable_extraActivity.end_date" ng-show="editable_extraActivity_endDate" ng-change="switchDatePicker('editable_extraActivity','end')" class="custom-datepicker"  format-date="formatDate" parse-date="parseDate"></date-picker>
</div>
<p>&nbsp;</p>
<button ng-click="updateExtraActivity()" class="u-full-width button-add" type="button">Guardar</button>
<p>&nbsp;</p>
<a ng-click="deleteExtraActivity()" style="cursor: pointer">Borrar actividad</a>
